@import "tailwindcss";



:root {
    --color-primary: hsl(0, 50%, 90%);
    --color-secondary: hsl(0, 50%, 10%);
    --color-tertiary: hsl(60, 80%, 20%);
    --color-accent: hsl(300, 80%, 20%);
}
.dark {
    --color-primary: hsl(0, 50%, 10%);
    --color-secondary: hsl(0, 50%, 90%);
    --color-tertiary: hsl(60, 80%, 80%);
    --color-accent: hsl(300, 80%, 80%);
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: 'Arial', sans-serif;
}
